@tailwind base;
@tailwind components;
@tailwind utilities;

.font-source-code-pro {
  font-family: var(--font-source-code-pro);
}

.font-poppins {
  font-family: var(--font-poppins);
}

body {
  font-family: var(--font-poppins);
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

/* Add this to make dark mode the default */
:root {
  color-scheme: dark;
}

@layer base {
  :root {
    --background: 228 18% 18%; /* Your darkBg color */
    --foreground: 65 11% 92%; /* Your darkText color */
  }
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

/* This ensures dark mode is applied by default */
html {
  @apply bg-darkBg text-darkText;
}
